  {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-large waves-effect waves-light pink lighten-1 col s12">{{ button_label|default('Participer') }}</button>
{{ form_end(form) }}